{% extends "base.html" %}

{% block extra_head %}
  
{% endblock %}   

{% block header %}
    {% block menu %}
    <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display适应屏幕-->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'log.views.index' %}">海监船</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'news.views.news_list' %}">个人中心</a></li>
	  
      <li><a href="#"id="example" data-original-title="个人中心( • ̀ω•́ )" data-placement="bottom" data->关于</a></li>

    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'contact.views.contact' %}">Contact Me</a></li>
      
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
    {% endblock %}
{% endblock %}